<div class=" border-b-2 m-2 p-2">
    <input 
        class="w-4 h-4"
        type="checkbox"
        [id]="task.description"
        (change)="task.done=!task.done"
        [checked]="task.done"
    >
    <label class="antialiased ml-3 text-2xl font-semibold tracking-tight text-gray-700" for="{{task.description}}">{{task.description}}</label>

    <div class=" text-right" *ngIf="!editable">
        <button class="pl-2 pr-2 pt-1 pb-1 m-2 border-1 border-gray-400 bg-gray-400 text-white p-2 rounded" (click)="editable = !editable">Edit</button>
        <button class=" pl-2 pr-2 pt-1 pb-1 m-2 border-1 border-red-400 bg-red-400 text-white p-2 rounded" (click)="remove.emit()">Delete</button>
    </div>
    <div *ngIf="editable">
        <input
          class=" w-full m-2 p-2 rounded-md border-0 py-1.5 text-gray-600 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
          placeholder="edit item"
          [value]="task.description"
          #editedTask
          (keyup.enter)="saveTask(editedTask.value)" />
    
        <div class="  text-right">
          <button class=" m-2 border-1 border-gray-400 bg-gray-400 text-white pl-2 pr-2 pt-1 pb-1 rounded" (click)="editable = !editable">Cancel</button>
          <button class=" m-2 border-1 border-green-400 bg-green-400 text-white pl-2 pr-2 pt-1 pb-1 rounded" (click)="saveTask(editedTask.value)">
            Save
          </button>
        </div>
    </div>
</div>